# Set default values for all following accounts.
defaults
logfile         -
auth            on
keepbcc         off
tls             on
tls_certcheck   off
syslog          on

# Gmail
account         gmail
logfile         -
host            smtp.gmail.com
port            587
from            <your gmail email>
user            <your gmail account>
password        <your gmail password>

# Yandex
account         yandex
logfile         -
host            smtp.yandex.ru
# Если с 465 не взлетает, можно попробовать 25 порт
port            465
from            <your yandex email>
user            <your yandex account>
password        <your yandex password>

# Set a default account
account default : yandex
aliases         /etc/aliases
