server {
    server_name ${GRAFANA_SUBDOMAIN}.${DOMAIN};
    listen 80;
    access_log /dev/stdout;
    error_log  /dev/stderr;
    include /etc/nginx/snippets/header.conf;
    include /etc/nginx/snippets/resolver.conf;

    # Basic Auth
    auth_basic "Monitoring Access";
    auth_basic_user_file /etc/nginx/conf.d/.htpasswd;

    location / {
        set ${DOLLAR}grafana_upstream grafana:3000;
        proxy_pass http://${DOLLAR}grafana_upstream;
        proxy_set_header Host ${DOLLAR}host;
        proxy_set_header X-Real-IP ${DOLLAR}remote_addr;
        proxy_set_header X-Forwarded-For ${DOLLAR}proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto ${DOLLAR}scheme;

        # WebSocket support for Grafana Live
        proxy_http_version 1.1;
        proxy_set_header Upgrade ${DOLLAR}http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}
