server {
    server_name mail.${DOMAIN};
    listen 80;
    access_log /dev/stdout;
    error_log  /dev/stderr;
    include /etc/nginx/snippets/header.conf;
    include /etc/nginx/snippets/resolver.conf;

    location / {
        set ${DOLLAR}mailhog_upstream mailhog:8025;
        proxy_pass http://${DOLLAR}mailhog_upstream;
        proxy_set_header Host ${DOLLAR}host;
        proxy_set_header X-Real-IP ${DOLLAR}remote_addr;
        proxy_set_header X-Forwarded-For ${DOLLAR}proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto ${DOLLAR}scheme;
    }
}